

.blackbox {
		
		border: 1px solid #EBEBEB;
		padding: 0px;
}

body{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
background-color: #cc9900;

}
.lowerstyle{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;

}
.lowerstyle a{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration:none;

}
.lowerstyle a:hover{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration:underline;

}


.gentxt {
	FONT-SIZE: 11px; TEXT-TRANSFORM: none; COLOR: #333333; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial; TEXT-DECORATION: none
}



.newtext {
font-family: sans-serif, arial, helvetica;
font-size:12px;
color:#000000;
}	


.redtext {
font-family: sans-serif, arial, helvetica;
font-size:12px;
color:#FF0000;
}	

input.text {
	width: 200px;
	border: 1px groove #6c7d8e;
	padding: 1px 1px 1px 3px;
}


.paratext {
FONT-FAMILY: Arial, Helvetica, sans-serif;
color:#242424;
FONT-SIZE: 11px;
LINE-HEIGHT: 16px;
}

.Partext1 {
FONT-SIZE: 12px; LINE-HEIGHT: 17px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}

.button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

.button2:hover {
    background-color: #008CBA;
    color: white;
}

.button3 {
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
}

.button3:hover {
    background-color: #f44336;
    color: white;
}

.button4 {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}

.button4:hover {background-color: #e7e7e7;}

.button5 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

.button5:hover {
    background-color: #555555;
    color: white;
}